body{
    font-family: ubuntu, sans-serif;
}


#first-nav{
        color: #6B6B6B;

}
#first-nav li{
    font-size: 14px;
    font-weight: 500;
}

#adobe-text{
    color: #2d2d2d;
    font-weight: 500;
}

#home-hero-content{
    color: #ffffff;
}