/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav #first-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 60px;
  width: 100vw;
  background-color: #ffffff;
}

nav #first-nav #adobe-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 74px;
  padding: 0px 20px;
  background-color: #ffffff;
}

nav #first-nav #adobe-logo .adobe-a {
  height: 20px;
  width: 20px;
}

nav #first-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: auto;
  background-color: #ffffff;
}

nav #first-nav ul li {
  height: 100%;
  width: auto;
  padding: 0px 20px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav #first-nav ul li:hover {
  -webkit-transition: .2s;
  transition: .2s;
  background-color: #f4f4f4;
  cursor: pointer;
  color: #2d2d2d;
}

nav #first-nav #acc-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: auto;
  background-color: #ffffff;
}

nav #first-nav #acc-info div {
  height: 20px;
  width: 20px;
  padding: 10px;
  background-color: #ffffff;
}

nav #first-nav #acc-info #search-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  fill: #707070;
}

nav #first-nav #acc-info #search-icon:hover {
  cursor: pointer;
  fill: #1473E6;
}

nav #first-nav #acc-info #pro-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30px;
  width: 30px;
}

nav #first-nav #acc-info #pro-image:hover {
  cursor: pointer;
}

nav #first-nav #acc-info #hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

nav #first-nav #acc-info #hamburger-menu:hover rect {
  fill: #1473E6;
}

nav #first-nav li:nth-child(1) {
  color: #2d2d2d;
  background-color: #fFF;
}

nav #second-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  z-index: 10;
  height: 80px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

nav #second-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: auto;
}

nav #second-nav ul li {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: auto;
  padding: 0px 20px;
  color: white;
}

nav #second-nav ul li:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

nav #second-nav ul li:nth-child(1) {
  font-weight: bold;
  font-size: 12px;
}

nav #second-nav ul li:nth-child(1):hover {
  background-color: rgba(0, 0, 0, 0);
}

nav #second-nav ul li:nth-child(1)::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 5px;
  height: 25px;
  width: 40px;
  content: url(/assets/imgs/creativeCloudIcon.svg);
  margin-right: 20px;
}

nav #second-nav ul li:nth-child(5) {
  height: 42%;
  font-size: 14px;
  font-weight: 500;
}

nav #second-nav ul li:nth-child(5):hover {
  cursor: pointer;
  background-color: #005abe;
}

#home-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: -80px;
  z-index: 5;
  position: relative;
  height: auto;
  min-height: 70vh;
  width: 100vw;
  background-color: #444;
}

#home-hero video {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -2;
  -o-object-fit: cover;
     object-fit: cover;
}

#home-hero #home-hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 50vw;
  text-align: center;
}

#home-hero #home-hero-content img {
  height: 140px;
  width: 100px;
}

#home-hero #home-hero-content h1 {
  font-weight: 900;
  font-size: 45px;
  margin-bottom: 20px;
}

#home-hero #home-hero-content h2 {
  line-height: 1.8;
  font-size: 18px;
  font-weight: 200px;
  margin-bottom: 30px;
}

#home-hero #home-hero-content p {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
}

#home-hero #home-hero-content p:hover {
  cursor: pointer;
  background-color: #005abe;
}

body {
  font-family: ubuntu, sans-serif;
}

#first-nav {
  color: #6B6B6B;
}

#first-nav li {
  font-size: 14px;
  font-weight: 500;
}

#adobe-text {
  color: #2d2d2d;
  font-weight: 500;
}

#home-hero-content {
  color: #ffffff;
}

.button {
  background-color: #0d66d0;
  border-radius: 16px;
  line-height: 32px;
  height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 12px;
}
/*# sourceMappingURL=main.css.map */