//NAVBAR

nav{
    #first-nav{
        @include basic-flex(space-between);
        height: 60px;
        width:  100vw;
        background-color: #333333;

        #adobe-logo{
            height:  100%;
            width:   74px;
            padding: 0px 20px;
            background-color: #444;
        
        }//adobe-logo

        ul{
            @include basic-flex();
            height: 100%;
            width:  auto;
            background-color: #555;

            li{
                height:  100%;
                width:   auto;
                padding: 0px 20px;
                background-color: #777;
                @include basic-flex();

            }//li
        }//ul

        #acc-info{
            @include basic-flex();
            height: 100%;
            width:  auto;
            background-color: #888888;

            div{
                height:  20px;
                width:   20px;
                padding: 10px;
                background-color:#BBB;
            }
        }


    }//first-nav
}//nav