// HOME PAGE

#home-hero{
    @include basic-flex();

    height: auto; 
    min-height: 70vh;
    width:  100vw;
    background-color: #444;

    #home-hero-content{
        @include basic-flex(flex-start,flex-start,column);

        height: auto;
        width:  70vw;
        background-color:#666;

        svg{
            height: 100px;
            width:  100px;
            background-color: red;
        } //svg
    } // home-hero-content
}//home-hero